* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}
p {

    font-size: 14px;
}

/* ============= Generic CSS ============== */

.section-title {
    padding-top: 90px;
    padding-bottom: 50px;

}
.section-title h2 {
    position: relative;
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.section-title h2:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 60px;
    height: 1px;
    background-color: #FBAC18;
    margin-left: -30px;
}


.section-title p {
    color: #333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 45px;
}
.section-title1 {
    padding-top: 90px;
    padding-bottom: 50px;

}
.section-title1 h2 {
    position: relative;
    text-align: center;
    color: #f7ebe1;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.section-title1 h2:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 60px;
    height: 1px;
    background-color: #FBAC18;
    margin-left: -30px;
}


.section-title1 p {
    color: whitesmoke;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 45px;
}

.section2-title {
    padding-top: 0px;
    padding-bottom: 10px;

}
.section2-title h2 {
    position: relative;
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.section2-title h2:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 60px;
    height: 1px;
    background-color: #FBAC18;
    margin-left: -30px;
}
.tour-sub {
    padding-top: 0px;
    padding-bottom: 10px;

}
.tour-sub h3 {
    position: relative;
    color: #333;
    font-size: 28px;
    font-weight: 400;
}

/* =========== Navigation ============ */

.navbar-default {
    background-color: transparent;
    border-color: #444;
    z-index: 110;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.navbar-default .navbar-nav > li > a {
    color: #B5B5B5;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;

}
.navbar-default .navbar-nav > li > a:hover {
    color: #FBAC18;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #B5B5B5;
}
.navbar-brand {
    padding: 9px 15px;
}
.navbar-brand img  {
     transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.navbar-default .navbar-nav > .active>a,
.navbar-default .navbar-nav > .active>a:hover,
.navbar-default .navbar-nav > .active>a:focus {
    background-color: #1f2420;
    color: #FBAC18;
}

.logo-heading{
    color: white;
    margin-top: 5px;
}

/* =========== Header ============ */
.header {
    background-image: url("../images/tree-2366664.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;

}
.header-overlay {
    background-color: rgba(31, 31, 31, 0.75);

}
.logo {
    padding-bottom: 50px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.header-text h1 {
    color: #fff;
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
    padding-top: 30px;
    text-transform: uppercase;
}
.header-text p {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
}
.header-btns {
    margin-top: 90px;
    margin-bottom: 50px;
}

.btn-download,
.btn-download:focus,
.btn-download:active,
.btn-download:visited
{

    background: transparent;
    border-color: #129CF3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
     -o-transition: all 1s;
}
.btn-download:hover {
    background-color: #129CF3;
    color: #fff;
}
.btn-tour,
.btn-tour:focus,
.btn-tour:active,
.btn-tour:visited {
    color: #A9ADB0;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
    background: transparent;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
     -o-transition: all 1s;

}
.btn-tour:hover {
    color: #fff;
}
.btn-tour i {
    font-size: 20px;
    padding-left: 5px;
    color: #129CF3;
}

.header-iphone img {
    width: 100%;
}

/* ========= About Us ============= */
.choose-us-wraper {

    padding-top: 10px;
    padding-bottom: 70px;
}
.vision{
    color: #FBAC18;
    font-weight: bold;
}
.img-row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }

  /* Create four equal columns that sits next to each other */
  .col-gallery {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .col-gallery img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

/* ========= Testimonials ============= */
.testimonial {
    background-image: url("../images/bg3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 50%;
}
.testimonial-overlay {
    background-color: rgba(31, 31, 31, .75);
    padding-top: 80px;
    padding-bottom: 80px;
}
.testimonial-heading{
    color: #f7ebe1;
}
.more{
    background-color: #f7ebe1;
    text-transform: uppercase;
    border: 3px solid #f7ebe1;
    color: black;
    padding: 20px;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
}
.more:hover{
    background-color:transparent;
    color: #f7ebe1;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
/* ========= Features ============= */
.features-inner-wrapper {

    padding-top: 30px;
    padding-bottom: 70px;
}
.left-feature-item {
    position: relative;
    padding-right: 90px;
    margin-bottom: 65px;
    text-align: right;
    margin-top: 35px;
}
.left-feature-item-icon {
    position: absolute;
    right: 0;
    top: -8px;
    font-size: 40px;
    color: #FBAC18;
    width: 90px;
    height: 90px;
    text-align: center;

}
.left-feature-item h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 21px;
    color: #333;
}
.left-feature-item p {
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
.feature-iphone img {
    width: 100%;
    border: 3px solid #FBAC18;
    padding: 10px;
    border-radius: 3px;
}
.right-feature-item {
    position: relative;
    padding-left: 90px;
    margin-bottom: 65px;
    margin-top: 35px;
    text-align: left;
}
.right-feature-item-icon {
    position: absolute;
    left: 0;
    top: -8px;
    font-size: 40px;
    color: #FBAC18;
    width: 90px;
    height: 90px;
    text-align: center;

}
.right-feature-item h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 21px;
    color: #333;


}
.right-feature-item p {

    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

/* ========= Purchase Now ============= */
.purchase-now {
    background-color: #1a1a1a;
    padding-top: 100px;
    padding-bottom: 100px;
}
.purchase-now p {
    color: #dfdfdf;
    font-size: 18px;
    font-weight: 300;
}
.btn-pruchase-now,
.btn-pruchase-now:active,
.btn-pruchase-now:focus,
.btn-pruchase-now:visited
{
    background-color: #FBAC18;
    border: 1px solid #FBAC18;
    color: #fff;
    border-radius: 3px;
    padding: 15px 35px;
    text-transform: uppercase;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;


}

.btn-pruchase-now:hover {
    background-color: transparent;
    border-color: #FBAC18;
}

/* ========= Tours ============= */
.tours{
    padding-bottom: 70px;
}
.hovereffect {
    width: 100%;
    height: 200px;
    object-fit: cover;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    margin-bottom: 30px;
  }

  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
  }

  .hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
  }

  .hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }

  .hovereffect:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .hovereffect a, .hovereffect p {
    color: #FFF;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.5em;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }

  .hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
.cost{
  color: #942f2f;
}
.included-services{
  padding-left: 10px;
}
/* ========= Counter ============= */
.counter {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 50%;
}
.counter-overlay {
    padding-top: 120px;
    padding-bottom: 120px;
    background: rgba(0, 0, 0, .4);
}
.counter-item i {
    color: #dfe7f5;
    font-size: 60px;
}
.counter-item h2 {
    font-family: "Source Sans Pro", sans-serif;
    color: #D7DADB;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 1px;
}
.counter-item p {
    color: #D7DADB;
    font-size: 20px;
    margin-top: 0px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
}


/* ========= Download Now ============= */
.download-now img {
    width: 100%;
}
.available-on {

    background-color: #1a1a1a;
    margin-top: -8px;
    position: relative;
}
.available-title {
    padding-top: 75px;
}
.available-title h2 {

    color: #fff;
    font-size: 30px;
}
.available-title p {
    color: #B5B5B5;
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.available-on-item {
    text-align: center;
    border-left: 1px solid #0F1217;
    min-height: 230px;
    padding-bottom: 15px;
    position: relative;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;

}
.available-on-item:hover {
    background-color: #121212;
}
.available-on-item i {
    color: #129CF3;
    text-align: center;
    opacity: 1;
    font-size: 40px;
    padding-top: 90px;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

.available-on-item:hover i {
    opacity: 0;
}
.available-on-inner {
    position: absolute;
    bottom: 93px;
    width: 100%;
    opacity: 0;
     transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.available-on-inner h2 {
    text-align: center;
    font-weight:  300;
    color: #D7DADB;
    font-size: 16px;
}

.available-on-item:hover div.available-on-inner {
    opacity: 1;
}
/* ========= Contact Us ============= */
.contact-us-form .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 21px;
    color: #555;
    background-color: transparent;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    margin-bottom: 15px;
    opacity: .8;
    outline: 0px !important;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;

}
#message {
    height: 117px;
    resize: none;
}
.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {

    background-color: transparent;
    border: 1px solid #FBAC18;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    color: #FBAC18;
    outline: 0px !important;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.submit-btn:hover {
    background: #FBAC18;
    color: #fff;
    border-color: #FBAC18;
}
.social-icons {
    padding-top: 50px;
    padding-bottom: 70px;

}
.social-icons ul {
    margin:0;
    padding: 0;
    text-align: center;

}
.social-icons ul li {
    list-style: none;
    display: inline;
    padding-left: 10px;
}

.social-icons ul li a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    width: 45px;
    height: 45px;
    line-height: 49px;
    color: #9d9d9d;
     transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;

}
.social-icons ul li a:hover {

    background-color: #FBAC18;
    border: 1px solid #FBAC18;
    color: #fff;
}
.social-icons ul li a i {
    font-size: 20px;
}
.information{
    font-size: 16px;
}
.info-icon{
    color: #FBAC18;
    padding-right: 5px;

}
.details{
    padding-top: 50px;
}
/* ========= Footer ============= */
.footer {
    background-color: #1a1a1a;
    padding-bottom: 35px;
    padding-top: 35px;
    border-bottom: 3px solid #FBAC18;
}
#copyright {
    width: 50%;
}
#copyright p {
    color: #8C8B8A;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}
#copyright p a {
    text-decoration: none;
    color: #FBAC18;
}
.scroll-top {
    text-align: right;
}
.scroll-top a {
    background-color: #FBAC18;
    padding: 25px;
}
.scroll-top a i {
    color: #fff;
    font-size: 25px;
}
